# Personal MySQL config
[mysql]
    show-warnings # Always display warnings without prompting
    auto-rehash # Enable tab completion
    comments # Don't strip comments before sending
    i-am-a-dummy # AKA safe-updates, disallow updates without a WHERE clause
    secure-auth # Force new, safe connection handshake

# MySQL < 5.5.3 only has 3-byte Unicode support
[mysql-5.0]
    default-character-set=utf8
[mysql-5.5.3]
    default-character-set=utf8mb
