# Personal MySQL config
[client]
    show-warnings # Always display warnings without prompting
    auto-rehash # Enable tab completion
    comments # Don't strip comments before sending
    i-am-a-dummy # AKA safe-updates, disallow updates without a WHERE clause
    secure-auth # Force new, safe connection handshake

    # MySQL < 5.5.3 only has 3-byte UTF-8 support (which, you know, isn't
    # actually UTF-8); if you're on MySQL >= 5.5.3, you should change this to
    # utf8mb4
    default-character-set=utf8
